@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

mat-list-item:hover {
    background-color: #ddd;
  }

  mat-sidenav-container {
    height: 90%;
    margin-bottom: 5%;
  }

  .Container {
    margin: auto;
    width:70%;
    height:100%;
  }

  .FrameCenter {
    width:75%;
    height:100%;
    float: left;
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin; 
  }

  .FrameRight {
    float: right;
    width:25%;
    height:100%;
  }
  