
  <!--標題-->
<p>
  <mat-toolbar>
   <button mat-icon-button class="example-icon" 
                     aria-label="Example icon-button with menu icon"
                     (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{ title }}</span>
</mat-toolbar>
</p>

<mat-sidenav-container>
  
  <!--選單-->
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"  (closed)="events.push('close!')">

    <mat-list>
      <mat-list-item routerLink="/dashboard">Dashboard</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/heroes">Heroes</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/heroForm">New Hero</mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>

</mat-sidenav>

  <!--主畫面-->
  <mat-sidenav-content>
    <div class="FrameTop">
      <!--Router-->      
      <router-outlet></router-outlet>
    </div>

         <!--Message-->      
     <div class="FrameBottom">
        <app-messages></app-messages>  
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


