<h1>{{title}}</h1>

<mat-sidenav-container>
  
  <!--選單-->
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"  (closed)="events.push('close!')">
    <a mat-raised-button routerLink="/dashboard">Dashboard</a>
    <a mat-raised-button routerLink="/heroes">Heroes</a>    
</mat-sidenav>

  <!--主畫面-->
  <mat-sidenav-content>
    <p><button mat-button (click)="sidenav.toggle()">選單</button></p>
      <!--Router-->
    <router-outlet></router-outlet>
    <app-messages></app-messages>
   
  </mat-sidenav-content>
</mat-sidenav-container>


