<div *ngIf="messageService.messages.length">
  
<mat-card class="example-card">
  <mat-card-title>Messages</mat-card-title>
  <mat-card-content>
    <div *ngFor='let message of messageService.messages'> {{message}} </div>
  </mat-card-content>
  <mat-divider inset></mat-divider>
  <mat-card-actions>
    <button mat-raised-button color="primary"
(click)="messageService.clear()"
class="hero-message"
>Clear messages</button>
  </mat-card-actions>
  <mat-card-footer>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </mat-card-footer>
</mat-card>

  </div>